body {
	font-size: 62.5%;
	margin: 0;

}

* {
	box-sizing: border-box;
	border: 1px solid red;
}

.globalcontainer {
	width: 1280px;
	margin: auto;
}



/*this is my header*/
header {
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
	height: 521px;
	font-family: 'Open Sans', sans-serif;
 	width: 100%;
 }

 .headertop {
 		width: 100%;
 		display: inline-block;
 		margin: auto;

 }

.headertopleft {
	display: inline-block;
	float: left;
	width: 50%;

}

.headertopright {
	display: inline-block;
	float: right;
	width: 50%;
}

.logo {
	display: inline-block;

}

/*logo top left*/
.logo img {
	margin-left: 137px;
	margin-top: 9px;

}

/*logo text top left*/
.logotext {
	font-size: 1.6em;
	color: #08324D;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 17px;
}


/*this is my about and search nav*/
nav {
	font-family: 'Oswald', sans-serif;
	color: #052A41;
	font-size: 1.8em;
	float: right;
	margin-right: 164px;
}

/*this is my header title*/
h1 {
	color: white;
	text-align: center;
	font-size: 8.5em;
	text-shadow: 1px 1px 1px #004A8E;
	display: block;
	margin: 0;
	line-height: 80px;
	margin-top: 140px;

}

.headercenter {
	width: 80%;
	margin: auto;
	padding: 0;


}

/*this is the sub header title*/
h3 {
	text-align: center;
	color: #08324D;
	font-size: 1.6em;
	display: block;
	margin: 0;
}


/*this gets rid of the nav buttons*/
ul {
	list-style: none;
}

ul li {
	display: inline;
	padding: 5px;
}

/*this is where my article text begins*/
article {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	height: 760px;
}

.articletext {
	width: 70%;
	float: left;
}

h2 {
	font-size: 5.6em;
	font-family: Oswald, sans-serif;
	color: #0A3451;
	margin-bottom: 0;
	margin-top: 50px;
	padding: 0;
}



.sidebar {
	width: 300px;
	float: right;

}

footer {
	width: 1280px;
	height: 400px;
	font-family: 'Oswald', sans-serif;
}


.footerimage {
	width: 25%;
	float: left;
	position: relative;
	}

.footerimage:after {
	position: absolute;
	background: #65A1C9;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: " ";
	opacity: .8;


}

.footerimage:hover:after {
	opacity: 0;
}

footer h2 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.footertitle {
	font-size: 4.4em;
	color: #0A3450;
}

.ironyardinfo {
	float: left;
	margin-top: 15px;
	margin-left: 120px;
	font-size: 13px;
}

.navitems {
	float: right;
	margin-top: 25px;
	margin-right: 170px;
	font-size: 13px;
}

.finalfooter {
	clear: both;
	width: 1280px;
	color: #A0B0BB;
	font-family: 'Open Sans', sans-serif;
	background-color: #083452;
}
