body {
	font-size: 62.5%;
	margin: 0;

}

* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

.globalcontainer {
	width: 1280px;
	margin: auto;
}

p {
	line-height: 150%;
}



/*this is my header*/
header {
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
	height: 521px;
	font-family: 'Open Sans', sans-serif;
 	width: 100%;
 }

 .headertop {
 		width: 100%;
 		display: inline-block;
 		margin: auto;

 }

.headertopleft {
	display: inline-block;
	float: left;
	width: 50%;

}

.headertopright {
	display: inline-block;
	float: right;
	width: 50%;
}

.logo {
	display: inline-block;

}

/*logo top left*/
.logo img {
	margin-left: 137px;
	margin-top: 9px;

}

/*logo text top left*/
.logotext {
	font-size: 1.6em;
	color: #08324D;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 17px;
	padding-left: 10px;
}


/*this is my about and search nav*/
nav {
	font-family: 'Oswald', sans-serif;
	color: #052A41;
	font-size: 1.8em;
	float: right;
	margin-right: 135px;
}

/*this is my header title*/
h1 {
	color: white;
	text-align: center;
	font-size: 10em;
	text-shadow: 1px 1px 1px #004A8E;
	display: block;
	margin: 0;
	margin-top: 140px;

}

.headercenter {
	width: 80%;
	margin: auto;
	padding: 0;


}

/*this is the sub header title*/
h3 {
	text-align: center;
	color: #08324D;
	font-size: 1.6em;
	display: block;
	margin: 0;
	margin-top: -13px;
}


/*this gets rid of the nav buttons*/
ul {
	list-style: none;
	padding: 0;
}

ul li {
	display: inline;
	padding: 5px;
}

/*this is where my article text begins*/
article {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	height: 760px;
}

.articletext {
	width: 70%;
	display: block;
	float: left;
	padding-right: 80px;
}

.articletext p {
	color: #535E64;
}

h2 {
	font-size: 5.6em;
	font-family: 'Oswald', sans-serif;
	color: #0A3451;
	margin-bottom: 0;
	margin-top: 70px;
	padding: 0;
	text-align: left;
}

.byline {
	display: block;
	margin: 0;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}

.byline img {
	width: 2.1em;

}

.annemarie {
	color: #2D7CB8;
	font-size: 1.3em;
	font-weight: bold;
}

.on {
	color: #A1B1BD;
	font-size: 1.3em;
}


.byline a {
	color: #A1B1BD;
	font-size: 1em;
}

.byline ul {
	margin-top: 0;
	margin-bottom: 28px;
}

.content {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

article a {
	color: #A1B1BD;
}

article a:hover {
	color: #0E65AC;
}

blockquote {
	border-left: 2px solid gray;
	padding-left: 20px;
	font-size: 1.9em;
	color: #0E65AC;
}


.buttonimage {
	background-color: #5E686F;
	display: inline;
	padding: 6px;
	float: left;
}


.buttontext {
	padding: 8px;
	background-color: #A1B1BD;
	float: right;
	font-size: 1.2em;
}

.buttons a {
	text-decoration: none;
	color: white;

}

.leftbutton {
	display: inline-block;
	margin-right: 10px;

}

.leftbutton:hover .buttonimage {
	background: #0A3451;
}

.leftbutton:hover .buttontext {
	background: #196EB1;
	color: white;
}

.middlebutton {
	display: inline-block;
	margin-right: 10px;
}

.middlebutton:hover .buttonimage {
	background: #0A3451;
}

.middlebutton:hover .buttontext {
	background: #196EB1;
	color: white;
}

.rightbutton {
	display: inline-block;
}

.rightbutton:hover .buttonimage {
	background: #0A3451;
}

.rightbutton:hover .buttontext {
	background: #196EB1;
	color: white;
}

.leftbuttontext {
	text-align: center;

}

.middlebuttontext {
	text-align: center;

}

.rightbuttontext {
	text-align: center;


}

.sidebar {
	width: 300px;
	float: right;
}

.avatarcontact {
	margin-top: 70px;
	text-align: center;
	height: 225px;
	padding-top: 30px;
}

.avatarcontact img {
	text-align: center;
	vertical-align: middle;
}

.ad {
	display: inline-block;
}

.ad img {
	width: 100%;
}

.ad a {
	display: block;
	float: right;
	font-size: 1.3em;
	margin-top: 6px;
}

.aboutsidebar {
	float: left;
	display: block;
	padding-top: 35px;
}

.aboutsidebar h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;
	color: #186DB0;
	text-align: left;

}

.aboutsidebar p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	display: block;
	color: #9AAAB7;
}


h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	color: #0C65AC;
	margin-top: 10px;
	margin-bottom: 0;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	color: #A9B8C3;
	font-size: 1.2em;
	margin-top: 0px;
}

footer {
	width: 1280px;
	height: 400px;
	font-family: 'Oswald', sans-serif;
	clear: both;
	text-align: center;
	margin-right: auto;
	margin-left: auto;


}


.footerimage {
	width: 25%;
	float: left;
	position: relative;
	line-height: 0;
	}

.footerimagetext1 {
	position: absolute;
	font-size: 2.3em;
	text-align: left;
	bottom: 25px;
	display: block;
	padding-left: 25px;

}

.footerimagetext2 {
	position: absolute;
	font-size: 2.3em;
	text-align: left;
	bottom: 25px;
	display: block;
	padding-left: 25px;

}

.footerimagetext3 {
	position: absolute;
	font-size: 2.3em;
	text-align: left;
	bottom: 25px;
	display: block;
	padding-left: 25px;
}

.footerimagetext4 {
	position: absolute;
	font-size: 2.3em;
	text-align: left;
	bottom: 25px;
	display: block;
	padding-left: 25px;
}

.footerimage:after {
	position: absolute;
	background: #65A1C9;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: " ";
	opacity: .8;
}

.footerimage:hover:after {
	opacity: 0;
}

.footerimage:hover {
	color: white;
}


h5 {
	font-size: 5.6em;
	color: #0A3450;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
	border-top: 1px solid #9AAAB7;
	padding-top: 32px;
}

.ironyardinfo {
	float: left;
	margin-top: 15px;
	margin-left: 120px;
	font-size: 13px;
}

.navitems {
	float: right;
	margin-top: 25px;
	margin-right: 170px;
	font-size: 13px;
}

.finalfooter {
	clear: both;
	width: 1280px;
	height: 100px;
	color: #A0B0BB;
	font-family: 'Open Sans', sans-serif;
	background-color: #083452;
}
